<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <form id="travelform">
                <label for="location">Where to?</label>
                <input type="text" id="location" name="location" placeholder="your destination" required>
                <label for="start-date">Starting Date:</label>
                <input type="date" id="startdate" name="start-date" title="Starting date of your trip" required>
                <label for="end-date">Return Date:</label>
                <input type="date" id="enddate" name="end-date" title="Return date of your trip" required>         
                <button type="submit">Trip Details</button>
            </form>
            <div id="trip-info"></div>
        </div>
    </div>
    <h5>Anwar-omariya</h5>
    
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js').then(registration => {
                  console.log('Service Worker registered with scope:', registration.scope);
              }).catch(error => {
                  console.error('Service Worker registration failed:', error);
              });
          });
      }
    </script>
</body>

</html>